
  <script type="text/javascript">
    window.addEventListener('load', function () {

      var e = [].slice.apply(document.querySelectorAll('header a'));

      e.forEach(function (e) {
        var txt = e.textContent.toLowerCase();
        var img = new Image();
        img.onload = function () {
          var cs = getComputedStyle(e);
          e.style.width = cs.width;
          e.style.backgroundImage = 'url(txt-' + txt + '.svg)';
          e.style.backgroundSize = 'auto 40%';
          e.textContent = '';
        };
        img.src = 'txt-' + txt + '.svg';
      });

    });
    window.addEventListener('load', function () {

      var fb = document.querySelector('iframe#fb');
      var base = 'http://www.facebook.com/plugins/like.php?';
      var settings = [
        'href=https%3A%2F%2Fwww.facebook.com%2Fhoaxray',
        'layout=button_count',
        'action=like',
        'height=21',
        'appId=281649618521696'
      ];

      fb.src = base + settings.join('&');

    });
  </script>

</body>
</html>
