<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Hoaxray</title>
  <style type="text/css">
    @font-face {
      font-family: 'Hoaxray';
      font-style: normal;
      font-weight: 400;
      src: url(Hoaxray.otf) format('opentype');
    }
  </style>
  <link rel="stylesheet" href="hoaxray.css" />
</head>
<body>

  <header>
    <div>
      <a href="." class="logo">Hoaxray</a>
      <a href="order.html">Order</a>
      <a>About</a>
      <a>Newsfeed</a>
    </div>
  </header>
