
<% include head %>

  <section class="block-order">
    <div>
      <h1>Glad to see that you are interested!</h1>
      <p>
        We are currently unable to meet the
        demand of our product.
      </p>
      <p>
        But you can send us your mail and we
        will notify you as soon as it's possible
        to make an order.*
      </p>
      <p>
        *Note that we will not use this email for
        our newsletter or spam, only for
        notifing you about the product status.
      </p>
      <form>
        <input type="email" placeholder="Your email address" /> <br />
        <input type="submit" value="Let me know" />
      </form>
    </div>
  </section>

<% include foot %>
